@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,600;0,700;1,500;1,600&display=swap');

:root{
     --gray: #8F9BAB;
     --light-green: #F2FCF9;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.red{
    color: #F86065;
}

.green{
    color: #02B992;
}

.yellow{
    color: #FFB21E;
}


html{
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    max-height: 100vh;
    background-color: #FAFAFA;
}
header{
    margin-bottom: 2rem;
}
header h1{
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1.9rem;
}

header p{
    color: var(--gray);
    text-align: center;
}

.card{
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2.3rem 4rem;
    border-radius: 1.4rem;
}

.card-header{
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1.8rem;
}
.weapons{
    display: flex;
    justify-content: space-around;
}
.weapons img,
#all-choices img{
    max-width: 82px;
    padding: 0.3rem;
    border-radius: 0.4rem;
    /* margin: 0 2rem; */
}

.weapons img[alt='rock']
{
    max-width: 89px;
}

.weapons img:hover{
    background-color:#dee1fb;
}

#result-container{
    background-color: var(--light-green);
    width: 100%;
}

#result-container *
{   
    padding: 1rem;
    border: 1px solid black;
}

#all-choices{
    display: flex;
    justify-content: space-around;
}